.container(data-ng-switch="subview")
    .row.span12(data-ng-switch-when="index",data-ng-controller="SignupController")
        .signup.span8
            h3 Signup
            ol.navigation-header.nav.nav-tabs
                li.step(id="{{item.id}}",
                    data-ng-class="{disabled: item.state !== 1, active: item.state === 1",
                    data-ng-repeat="item in navigation.items",
                    data-ng-click="navigateToStep($index)")
                    a {{item.name}}
            .content
                .step(id="{{item.id}}",
                    data-ng-repeat="item in navigation.items",
                    data-ng-show="item.selected")
                    .container(data-ng-include="item.partial", onload="pageLoaded()")
        .signin.span4
            .signin-container
                .alert.alert-success
                    h4 Already registered?<br />
                        .control-group
                            .controls
                                input#inputEmail(type="text", placeholder="Username")
                        .control-group
                            .controls
                                input#inputPassword(type="password", placeholder="Password")
                        .control-group
                            .controls
                                label.checkbox.text-medium
                                    input(type="checkbox")
                                    | Remember me
                                button.btn.btn-success Sign in
                a#forgot-password.text-small(href="#",
                    data-toggle="popover",
                    data-placement="top",
                    title="",
                    data-content="No problem. Just enter your email and lets fix it",
                    data-original-title="Forgot you password?") Forgot Password