html(lang='en',data-ng-app='JoyentPortal',data-ng-controller='MainController')
  head
    meta(charset='utf-8')
    meta(name='fragment',content='!')
    title(data-ng-bind='windowTitle') MAIN
    each css in csss
      link(rel='stylesheet',href='#{css}',type='text/css')
  body
    div(data-ng-switch='subview')
      each layout in layouts
        div(data-ng-switch-when='#{layout.name}',data-ng-include="'#{layout.include}'",class='JoyentPortal-module-#{layout.module}',data-ng-controller='#{layout.controller}')
    each javascript in javascripts
      script(type='text/javascript',src='#{javascript}')

