doctype html
html(lang='en',data-ng-app='JoyentPortal',id="ng-app", data-ng-controller='MainController')
  head
    meta(charset='utf-8')
    meta(name='fragment',content='!')
    title(data-ng-bind='windowTitle') Joyent Cloud
    each link in css
        link(rel='stylesheet',href='#{link._url}',type='text/css')
  body()
    div(data-ng-switch='subview', class='ng-cloak', ng-cloak)
      each layout in layouts
        div(data-ng-switch-when='#{layout.module}',class='modulizer-module-#{layout.module}',data-ng-controller='#{layout.module}.LayoutController')!= layout.data

    each link in js
      script(type='text/javascript',src='#{link._url}')
    each source in jss
      script(type='text/javascript')!= source
    input#signupStep(type='hidden',value='#{signupStep}')
    each partial in partials
      script(type='text/ng-template',id='#{partial._id}')!= partial._content
