doctype html
html(lang='en',data-ng-app='JoyentPortal', id="ng-app", data-ng-controller='MainController')
  head
    meta(charset='utf-8')
    meta(name='fragment',content='!')
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(http-equiv="MSThemeCompatible" content="NO")
    //if lt IE 9
      script(type="text/javascript").
        window.top.location.href = '/old-browser';
    title(data-ng-bind='windowTitle') Joyent Cloud
    style(type='text/css') @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none;}ng\:form{display:block;}
    each link in css
        link(rel='stylesheet',href='#{link._url}',type='text/css')
  body()

    div(data-main-menu, class='modulizer-module-menu header navbar navbar-fixed-top')
    div(data-main-left, id='leftPanel', ng-class="{'expanded': sideBarMin}")
    div(data-ng-switch='subview', class='container-fluid ng-cloak', ng-cloak,ng-class="{'leftpanel-small': sideBarMin}")

      each layout in layouts
        div(data-ng-switch-when='#{layout.module}',class='modulizer-module-#{layout.module}',data-ng-controller='#{layout.module}.LayoutController')!= layout.data


    div(class="feedback-tab" data-ng-if="features.feedback == 'enabled'")
      a(target="_blank" class="feedback-tab-link" title="Feedback" data-ng-href="https://www.surveymonkey.com/s/PortalUpdateSurvey?c=#{userId}+{{currentHref}}")
    each link in js
        script(type='text/javascript',src='#{link._url}')
    each source in jss
        script(type='text/javascript')!= source
    each partial in partials
        script(type='text/ng-template',id='#{partial._id}')!= partial._content
    div(data-notification)