doctype 5
html(lang='en',data-ng-app='JoyentPortal', id="ng-app", data-ng-controller='MainController')
  head
    meta(charset='utf-8')
    meta(name='fragment',content='!')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    //if lt IE 9
      script(type="text/javascript", src="static/aight.min.js")
      script(type="text/javascript")
        window.myCustomTags = [ 'breadcrumb', 'notification', 'mainMenu', 'machineStatus', 'machineName', 'loginForm', 'graph', 'currentCreditCard', 'addCreditCard', 'accountRightMenu','accountAddSshKey', 'accountInfoEdit' ];
      script(type="text/javascript", src="static/ie-shiv.js")

    title(data-ng-bind='windowTitle')
    style(type='text/css') @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none;}ng\:form{display:block;}
    each link in css
        link(rel='stylesheet',href='#{link._url}',type='text/css')
  body()
    div(data-main-menu, class='JoyentPortal-module-menu')
    //div(data-notification, class='JoyentPortal-module-notification')
    div(data-ng-switch='subview', class='subview container-fluid ng-cloak', ng-cloak)

      each layout in layouts
        div(data-ng-switch-when='#{layout.module}',class='JoyentPortal-module-#{layout.module}',data-ng-controller='#{layout.module}.LayoutController')!= layout.data

    div(class='JoyentPortal-module-menu')
        div(class="container footer")
             div(class="brand pull-left")            
             div(class="pull-left")
                    ul(class="nav")
                        li
                            a(href="http://joyent.com/", target="_blank") Joyent.com
                        li
                            a(href="http://joyent.com/tos", target="_blank") Terms of Service
                        li
                            a(href="http://joyent.com/company/policies", target="_blank") Policies
                        li
                            a(href="http://joyent.com/company/security-and-compliance", target="_blank") Compliance
                        li
                            a(href="https://help.joyent.com/forums/20715782-current-system-status", target="_blank") System Status
                        li
                            a &copy; 2013 Joyent, Inc.

            div(class="clearfix")

    each link in js
        script(type='text/javascript',src='#{link._url}')
    each source in jss
        script(type='text/javascript')!= source
    each partial in partials
        script(type='text/ng-template',id='#{partial._id}')!= partial._content

    //if lt IE 9
      script(type="text/javascript", src="static/aight.d3.min.js")

    script(type='text/javascript')
        if (typeof(Zenbox) !== "undefined") {
          Zenbox.init({
            dropboxID:   "20175628",
            url:         "https://zetazoft.zendesk.com",
            tabTooltip:  "Support",
            tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_support.png",
            tabColor:    "#375675",
            tabPosition: "Right"
          });
        }